// Colors
$color-primary: #0af;
$color-primary-dark: #0070A6;
$color-primary-light: #73D1FF;

$color-secondary: #ed1450;
$color-secondary-dark: #9A062E;
$color-secondary-light: #F67A9B;

$color-grey: #434343;
$color-grey-dark: #030303;
$color-grey-light: #f3f3f3;

$color-white: #fff;
$color-black: #000;

// Font settings
$default-font-size: 1.6rem;

// Grid settings
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
