main.ant-layout-content {
  & .container {
    .container-article__avatars {
      & .container-article__avatar-container {
        margin-right: 2rem;

        & .container-article__avatar {
          border: 2px solid $color-primary;

          & img {
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
    }

    & .container-article__misc {
      border: 2px solid $color-primary;
      border-radius: 50%;
      height: 2.5rem;
      padding: 4px;
      position: relative;
      width: 2.5rem;

      & .container-article__misc--emoji {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
