header.ant-layout-header {
  height: $header-height;
  padding: 0 12.5vw;
  position: absolute;
  width: 100vw;

  &.nice-bg {
    background: $color-grey-dark;
  }

  &.no-bg {
    background: none;
  }

  & > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  & .header--logo {
    width: 10vw;

    & img {
      height: 32px;
      width: auto;
    }

    @include respond(phone) {
      width: 40vw;
    }
  }

  & .header--menu-top-nav {
    text-align: right;
    width: 10vw;

    @include respond(phone) {
      width: 40vw;
    }
  }

  @include respond(phone) {
    padding: 0 3rem;
  }
}
