main.ant-layout-content {
  & .container {
    & .container-blog {
      padding-top: 3rem;

      & .container-blog__tags {
        & .container-blog__tag {
          cursor: pointer;
          margin-bottom: 0.35rem;
        }
      }

      & .container-blog__articles {
        & .container-blog__article {
          padding: 0 3rem 2rem 3rem;

          &:hover {
            & .ant-card {
              background-image: linear-gradient(
                to right bottom,
                $color-primary,
                $color-secondary
              );
              border: none;
            }
          }

          & .ant-card {
            margin: 0 auto;
            min-height: 100%;
            transition: 300ms;

            & .ant-card-cover {
              height: 24rem;

              & img {
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
              }
            }

            & .ant-card-body {
              & .ant-card-meta {
                min-height: 128px;

                & .ant-card-meta-detail {
                  & .ant-card-meta-title {
                    white-space: initial;
                    text-overflow: initial;
                  }

                  & .ant-card-meta-description {
                    max-height: 6rem;
                    text-overflow: ellipsis;
                  }
                }

                @include respond(phone) {
                  min-height: 64px;
                }
              }

              & .ant-divider {
                margin: 1.5rem 0;
              }
            }
          }

          @include respond(phone) {
            padding: 0 0 2rem 0;
            width: 100%;
          }
        }
      }
    }
  }
}
