main.ant-layout-content {
  & .container {
    & .container-blog {
      & .container-blog__articles {
        & .container-blog__article {
          padding: 0 3rem 2rem 3rem;

          &:hover {
            & .ant-card {
              background-image: linear-gradient(
                to right bottom,
                $color-primary,
                $color-secondary
              );
            }
          }

          & .ant-card {
            margin: 0 auto;
            min-height: 100%;
            transition: 300ms;
          }
        }
      }
    }
  }
}
