main.ant-layout-content {
  & .container {
    & .container-personal {
      position: relative;
      height: 65vh;

      & .container-personal__text-block {
        margin: 4rem 0;
      }

      & .container-personal__card-bio {
        & .ant-col {
          margin: 0 1rem;
        }
      }
    }
  }
}
