main.ant-layout-content {
  & .container {
    & .container-personal {
      position: relative;
      min-height: 65vh;

      & .container-personal__text-block {
        margin: 4rem 0;
      }

      & .container-personal__card-bio {
        & .ant-col {
          // margin: 0 1rem;

          & .ant-card {
            & .ant-card-actions {
              & li {
                & span {
                  & .ant-col {
                    width: 18%;
                  }
                }
              }
            }
          }

          &.col__card-bio--card,
          &.col__card-bio--bio {
            @include respond(phone) {
              width: 100%;
            }
          }

          &.col__card-bio--card {
            @include respond(phone) {
              margin: 0 0 3rem 0;
            }
          }

          &.col__card-bio--bio {
            @include respond(phone) {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
